# ── Node ──────────────────────────────────────────────────────────────────────
node_modules/
npm-debug.log
package-lock.json

# ── Environment ───────────────────────────────────────────────────────────────
.env

# ── Build output ──────────────────────────────────────────────────────────────
dist/

# ── Uploads ───────────────────────────────────────────────────────────────────
uploads/
